header li:first-child a{
	color: #444;
}
header.large {
	height: 80px;
	background-color: #fff;
	box-shadow: 0 0 7px rgba(0,0,0,.1)
}
header.large img {
 	height: 40px;
 	width: auto;
 	margin-top: 20px;
 	filter: none;
}
/* header small */
header.small img {
	height: 35px;
	margin-top: 15px;
	width: auto;
	filter:none;
}
.header{
	display: block;
}
.main-content{
	padding-top: 80px;
	overflow: hidden;
}
.top-banner{
	width: 100%;
	background: url(../bg-v2.svg);
	background-blend-mode: overlay;
	background-size: cover;
	background-position: center 50%;
}
.blur{
	width: 100%;
	background-color: rgba(163, 157, 168, 0.06);
}
.texture{
	width: 100%;
	padding: 50px 0 60px 0;
}
.content{
	width: 100%;
	padding: 50px 0 50px 0;
	border-bottom: 0.5px solid #f2f2f2;
}
.rules{
	width: 100%;
	overflow: auto;
	padding: 20px 0 40px 0;
}
.rules ul{
	border-left: 5px solid #b30000;
}
.rules ul li{
	padding-bottom: 10px;
	color: #444;
	font-family: 'Comfortaa', cursive;
	font-size: 14px;
	line-height: 1.5;
}
.content p{
	padding-bottom: 20px;
}
@media screen and (max-width: 980px){
	.main-content{
		padding: 0;
	}
}